{
    email {$ACME_EMAIL}
}

# internal health check endpoint for monitoring services
http://caddy-proxy:80, http://localhost:80 {
    respond "OK" 200
}

*.{$DOMAIN} {
    tls {
        dns cloudflare {$CLOUDFLARE_API_TOKEN}
        resolvers 1.1.1.1
    }
}

vaultwarden.{$DOMAIN} {
    reverse_proxy vaultwarden:80
}

nextcloud.{$DOMAIN} {
    reverse_proxy nextcloud-aio-apache:11000

    # security headers
    header {
        Strict-Transport-Security "max-age=15552000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "no-referrer"
        X-Robots-Tag "none"
        X-XSS-Protection "1; mode=block"
        X-Download-Options "noopen"
        X-Permitted-Cross-Domain-Policies "none"
    }

    # required for Nextcloud CalDAV/CardDAV sync
    redir /.well-known/carddav /remote.php/dav 301
    redir /.well-known/caldav /remote.php/dav 301
}

office.{$DOMAIN} {
    reverse_proxy collabora-code:9980
}

ring.{$DOMAIN} {
    reverse_proxy ring-server:3000
    header Strict-Transport-Security "max-age=15552000; includeSubDomains"
}

immich.{$DOMAIN} {
    reverse_proxy immich-server:2283
}

status.{$DOMAIN} {
    reverse_proxy uptime-kuma:3001
}

home.{$DOMAIN} {
    reverse_proxy homepage:3000
}

adg.{$DOMAIN} {
    reverse_proxy adguardhome:3000
}
