# mainly for the vaultwarden container
VAULTWARDEN_URL=https://vaultwarden.your-domain.net
DATA_DIR=/home/data
ADMIN_TOKEN='$argon2id$v=19$m=65540,t=3,p=4$+......'

# vaultwarden-backup container using rclone
RCLONE_REMOTE_NAME=NAME_OF_RCLONE_BACKUP
RCLONE_REMOTE_DIR=/backup/vaultwarden
ZIP_PASSWORD=YourSecretPassword
