# a secure password to protect the /unlock endpoint
UNLOCK_PASSWORD=your-strong-password

# name of your Location in the Ring app (e.g., "Home")
LOCATION_NAME=Home

# name of your Intercom device in the Ring app (e.g., "Front Door")
INTERCOM_NAME=Intercom

# refresh token from Ring (will be created by the auth script, can also be set manually)
# RING_REFRESH_TOKEN=
